.profile__add-button {
  color: #ffffff;
  max-width: 150px;
  max-height: 50px;
  border-radius: 2px;
  border: 2px;
  margin: auto 0 auto auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
    margin: auto;
    margin-top: 50px;
    max-width: 282px;
    width: 100%;
  }
}
