.element {
  width: 282px;
  height: 361px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.element__info {
  width: 282px;
  height: 79px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.element__photo-heart {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url(../images/corazon.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.element__photo-heart_active {
  background-image: url(../images/corazon-negro.png);
}

.element__photo-name {
  color: #000000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  max-width: 246px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__photo-trash {
  width: 18px;
  height: 19px;
  background-image: url(../images/basurero.png);
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
}

.element__photo {
  height: 282px;
  width: 100%;
  margin: 0;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  border-color: black;
  object-fit: cover;
  background-color: black;
}
