.page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}
