.element__photo-heart {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url(../images/corazon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.element__photo-heart_active {
  background-image: url(../images/corazon-negro.png);
  background-size: contain;
  background-repeat: no-repeat;
}
