.form {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

.form__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 40px;
  border-style: none;
  border-bottom: 1px solid gray;
  width: 80%;
  gap: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.form__line {
  max-width: 358px;
  border: 1px;
  opacity: 0.2;
  display: flex;
  margin: auto;
}
.form__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
  margin-left: 40px;
}

.form__close-button {
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  top: -50px;
  right: -50px;
}

.form__button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin: 80px 0 0 0;
}

.form__button:hover {
  opacity: 0.6;
}

.form__button_disabled {
  background-color: white;
  color: #cccccc;
  pointer-events: none;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__error_visible {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.input-error {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #ff0000;
  margin-left: 40px;
}
